<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="guru.js"></script>
    <link rel="stylesheet" type="text/css" href="guru.css">
    <meta charset="utf-8">
    <title>Ask The Guru</title>
</head>

<body class='body-color'>
    <div ng-app='guru' ng-controller='guruCtrl'>
        <div class="row">
            <div class="col-sm-8">
                <img class="guru-gif" src="https://cdn.dribbble.com/users/514480/screenshots/3963528/ravi_9b.gif">
                <h2 class='quote' ng-style="quote_style"> {{quote}} </h2>
            </div>
            <div class="col-sm-4 text-center">
                <h2>Ask the Guru a Question</h2>
                <form name='userMessage' ng-submit='sendMessage(message)'>
                    <input placeholder='Message' ng-model='message.text' class="btn-input" />
                    <button type='submit' class="btn">Send</button>
                </form><br>
                <ul ng-repeat="message in messages | orderBy:'-number'">
                    <li>
                        <conversation content="message.response" class="left-justify" />
                    </li>
                    <li>
                        <conversation content="message.text" class="right-justify" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
