ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.body-color {
    background: linear-gradient(to right,
    #E42553 0%,
    #E42553 66.66%,
    #ff9bb2 66.66%,
    #ff9bb2 100%);
}

.guru-gif {
    width: 100%;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 60%;
}

.left-justify {
    float: left;
    text-align: left;
}

.right-justify {
    float: right;
    text-align: left;
}

.quote {
    text-align: center;

}
